.mainNuestrosJuegos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 1.5rem;
    background-image: url(../assets/img/fondo\ degrade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "titulo titulo"
        "img descripcion"
        "botton botton";
    border: 1px solid black;
    padding: 25px;
}

.titulo {
    grid-area: titulo;
}

.container img {
    grid-area: img;
    display: block;
    border-radius: 10%;
}

.descripcion {
    grid-area: descripcion;
}

.botton {
    grid-area: botton;
}

.btn-comprar {
    transition: transform 0.8s, box-shadow 0.8s;
}

.btn-comprar:active {
    transform: scale(0.8);
    box-shadow: 0 0 8px rgba(97, 109, 128, 0.4);
}