
.background-image {
    background-image: url(../assets/img/fondo\ degrade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .cuestionario {
        padding: 1.5rem;
        margin-top: 10rem;
    }
    
}

.imgFichas {
    display: flex;
    justify-content: center;
  }
  
  .imgFichas div img {
    max-width: 100%;
    height: auto;
  }