@import"_variables.scss";

/*----------SHEETS--------*/

@import"_preguntas.scss";
@import"_juegos.scss";
@import"_contacto.scss";
@import"_nosotros.scss";


/*----------PIE DE PÁGINA--------*/

@import"_footer.scss";

/*----------MEDIA QUERIES--------*/

@import"_responsive.scss";


/*------------------------ Navbar-------------------------------- */


nav {
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}

.logo img {
  width: 7rem;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-links li a:hover {
  background-color: #ddd;
}


/*------------------------ Index-------------------------------- */

.video-container {
  position: relative;
  height: 100vh;

}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------------------------- final-------------------------------- */


.firma {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.whatsapp-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  color: white;
  background-color: #4dc247;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  fill: white;
  margin-right: 20px;
  font-size: 32px;
  text-decoration: none;
}