/*-------------------------- Nosotros ----------------------------------------*/


.infoNuestra {
    padding: 2rem;

}



/*-------------------------- nuestros juegos ----------------------------------------*/

.mainNuestrosJuegos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "titulo titulo"
        "img descripcion"
        "botton botton";
    border: 1px solid black;
    padding: 25px;
}

.titulo {
    grid-area: titulo;
}

.img {
    grid-area: img;
}

.descripcion {
    grid-area: descripcion;
}

.botton {
    grid-area: botton;
}

/*-----------------------------Navbar------------------------------- */

body{
    padding-top: 5px;
}

body>*:first-child {
    margin-top: 80px;     /* Altura de la navbar */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}

.navbar .logo img {
    height: 100px;
}

.navbar a {
transition: background-color 0.3s ease;
}

.navbar a:hover {
background-color: #ccc;
}


.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

/*----------------------------- Video container------------------------ */
/* Estilos para pantallas grandes */
.video-container {
    position: relative;
    height: 100vh;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 2rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .video-container {
        height: 50vh;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}



/* Estilos para pantallas de menos de 768px */
@media (max-width: 767px) {
    .navbar {
        padding: 10px;
    }

    .navbar .logo img {
        height: 60px;
    }

    .menu li {
        margin-left: 10px;
    }

    .menu a {
        font-size: 16px;
    }
}

/* Estilos para pantallas de 768px en adelante */
@media (min-width: 768px) {
    body {
        margin-top: 80px;
    }

    .menu li {
        margin-left: 30px;
    }

    .menu a {
        font-size: 18px;
    }
}


/*--------- Carrousel----------------------------------- */

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.container-fluid {
    justify-content: center;
}



/*--------- formulario---------------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}

label {
    margin-bottom: 5px;
}

input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}


/*--------- formulario-------------------------------- */

.foot {
    background-color: #f9afce;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    color: #333;
}

.social-links a:hover {
    color: #1877f2;
}